---
layout: splash
# author_profile: true
title: "Hey, it's Filip!"
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/img/banner/banner-4s.jpg
  actions:
    - label: "visit my blog"
      url: /blog/
excerpt:  ""

intro:
  - excerpt: >
      Young creative from Bratislava, Slovakia. Passionate about creating great and innovative products. Always learning and developing my skills.
      _**If you feel like the dumbest person in the room then you're in the correct room.**_

feature_row:
  - image_path: /assets/img/banner/banner-2s.jpg
    alt: "blog banner"
    title: "blog."
    excerpt: "thoughts. ideas. dreams."
    url: /blog/
    btn_label: "read now."
    btn_class: "btn--inverse"
  - image_path: /assets/img/banner/banner-3s.jpg
    alt: "banner portfolio"
    title: "photography."
    excerpt: "subjective prespectives."
    url: /portfolio/
    btn_label: "see now."
    btn_class: "btn--inverse"
  - image_path: /assets/img/banner/banner-4s.jpg
    alt: "cv banner"
    title: "cv."
    excerpt: "past. present. **future**."
    url: /cv/
    btn_label: "connect now."
    btn_class: "btn--inverse"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include instagram.html feedUrl="https://zapier.com/engine/rss/7010881/ig-feed-wylify" %}
